<div class="social">
  <p>
    Email: jhguo@gwu.edu &nbsp;&nbsp;
    <a href="../static/info/jinghan_cv.pdf">CV</a>
    {% if site.email %}
         <a href="mailto:{{ site.email}}"><i class="fa fa-envelope"></i></a>
    {% endif %}
    {% if site.linkedin %}
        / <a href="https://www.linkedin.com/in/jinghan-guo-28a237107"><i class="fa fa-linkedin"></i></a>
    {% endif %}
    {% if site.github %}
	     / <a href="http://github.com/{{ site.github }}"><i class="fa fa-github"></i></a>

    {% endif %}
  </p>
</div>
